.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 880px auto;
  grid-template-rows: 80% 20%;
}

.content {
  background: rgba(30, 209, 209, 0.2);
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 120px 120px 120px 120px 120px;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
}

.image {
  width: 200px;
  justify-self: center;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
}

.image img {
  margin: auto;
}

.image.failed {
  border: 2px solid red;
}

.image.progress {
  border: 2px solid orange;
}

.image.complete {
  border: 2px solid green;
}

.footer {
  background: rgba(181, 196, 47, 0.2);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.toaster {
  background: rgba(150, 0, 209, 0.2);
  padding: 0 10px;
}

.toast {
  border-radius: 10px;
  border: 1px solid rgb(48, 47, 47);
  padding: 10px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgb(100, 98, 98);
}

.error {
  background: rgba(247, 4, 4, 0.637);
  color: white;
}

.info {
  background: rgba(4, 247, 4, 0.637);
  color: white;
}

.warn {
  background: rgba(247, 223, 4, 0.637);
  color: black;
}

.logger {
  background: rgba(233, 64, 64, 0.2);
  overflow: auto;
}

.added {
  -webkit-animation: bounce-in 1s ease 0s 1 normal;
  -moz-animation: bounce-in 1s ease 0s 1 normal;
  -ms-animation: bounce-in 1s ease 0s 1 normal;
  animation: bounce-in 1s ease 0s 1 normal;
}

.removed {
  -webkit-animation: bounce-out 2s ease 0s 1 normal;
  -moz-animation: bounce-out 2s ease 0s 1 normal;
  -ms-animation: bounce-out 2s ease 0s 1 normal;
  animation: bounce-out 2s ease 0s 1 normal;
}

@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

@-webkit-keyframes bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
