.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 75% 25%;
  grid-template-rows: 80% 20%;
}

.content {
  background: rgba(30, 209, 209, 0.2);
}

.footer {
  background: rgba(181, 196, 47, 0.2);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.toaster {
  background: rgba(0, 209, 209, 0.2);
  padding: 0 10px;
}

.toast {
  border-radius: 10px;
  border: 1px solid rgb(48, 47, 47);
  padding: 10px;
  white-space: nowrap;
  text-align: center;
  color: white;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgb(100, 98, 98);
}

.error {
  background: rgba(247, 4, 4, 0.637);
}

.info {
  background: rgba(4, 247, 4, 0.637);
}

.warn {
  background: rgba(247, 223, 4, 0.637);
}

.logger {
  background: rgba(233, 64, 64, 0.2);
  overflow: auto;
}
